.Education {
  text-align: center;
  padding: 20px;
  background-color: #1F252E;
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.timeline-container {
  border: solid 1px orange;
  max-width: 100%;
  border-radius: 6px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 1s ease-in-out forwards, slideIn 0.8s ease-in-out 0.2s forwards;
  box-shadow: 0 4px 8px rgba(160, 145, 145, 0.1); /* Subtle box shadow */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

/* Chrono timeline card styles */
.rct-chrono .rct-item {
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.rct-chrono .rct-item:hover {
  border-color: #007bff;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .section-title {
    font-size: 1.5em;
  }

  .timeline-container {
    width: 100%;
  }

  .rct-chrono .rct-item {
    margin-bottom: 20px;
  }
}
