



.Main {
    background-color: #1F252E;
    padding: 10px;
    color: white;
    height: 100vh;
}

.ProfileDetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}

.border-container {
    position: relative;
    animation: bounceInUp 1s ease;
    width: 630px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    background-color: #1F252E;
    border: 1px solid white;
}

.Sidd {
    color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.Details {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Details:hover {
    border: 1px solid orange;
    height: 40px;
    color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 8px;
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    
    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    
    75% {
        transform: translate3d(0, 10px, 0);
    }
    
    90% {
        transform: translate3d(0, -5px, 0);
    }
    
    to {
        transform: translate3d(0, 0, 0);
    }
}

.Resume {
    border: 1px solid orange;
    text-decoration: none;
    color: orange;
    padding: 7px;
    border-radius: 8px;
    background-color: #1F252E;

    width: 130px;
}

.Icons {
    width: 50px;
    height: 50px;
}

.Info {
    margin-top: 110px;
    font-size: 17px;
}

.Layer {
    display: flex;
    flex-direction: row;
    gap: 90px;
}


.border-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 0.462);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    position: absolute;
    transform-origin: center;
}

.border-image:nth-child(1) {
    left: 50%;
    top: 0;
    transform: translate(-50%, 0) rotate(0deg);
}

.border-image:nth-child(2) {
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%) rotate(90deg);
}

.border-image:nth-child(3) {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0) rotate(180deg);
}

.border-image:nth-child(4) {
    left: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(270deg);
    animation: none;
}

.border-image:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: none !important;
    border: 5px double black;
    height: 180px;
    width: 180px;
    -webkit-box-reflect: left 1px linear-gradient(transparent, #0005);
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
}

.Logo {
    height: 180px;
    width: 180px;
}

@media screen and (max-width: 600px) {
    .Layer {
        flex-direction: column;
        gap: 0px;
    }

    .border-container {
        height: 250px;
        width: 250px;
    }

    .Main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        align-items: center;
    }

    .border-image {
        height: 30px;
        width: 30px;
    }

    .Logo {
        height: 120px;
        width: 120px;
    }

    .border-image:nth-child(5) {
        height: 120px;
        width: 120px;
    }

    .ProfileDetails {
        gap: 10px;
        font-size: 7px;
        justify-content: center;
        margin-left: 5px;
    }

    .Info {
        margin: 10px;
    }
}







